<%- include('partials/metadata')  %> 
<%- include('partials/header')  %> 


    <main>
       
        <div class="padre-contenedor">
            <div class="container">
                <div class="div-foto">
                    <div class="div-contenedor">
                        <% producto.imagenes.forEach(function(imagen){ %>
                            <img class="img-grande" src="<%= imagen -%>" alt="">
                        <% }); %>
                    </div>
                    <div class="div-contenedor-img-principal">
                        <img class="img-chica "src="<%= producto.imagen -%>" alt="">
                    </div>
                    
                </div>
                
            </div>
            <form class="container-1" method="POST" action="/productos/carrito">
                <div class="div-detalle">
                    <div class="detalle-titulo">
                        <h1><%= producto.titulo %></h1>
                    </div>
    
                    <div class="price">
                        <p class="precio-producto">$<%= producto.precio %></p>
                    </div>
    
                    <div class="cuotas">
                        <p class="price"> 3 cuotas sin interés de 233$</p>
                    </div>
    
                    <div class="medios-pagos">
                        <a class="a-pagos" href="#">ver medios de pagos</a>
                    </div>
    
                    <div class="form-color" action="">
                        <label class="label-color "for="color">Color:</label>
                        <input type="color" id="color" name="color">
                    </div>
    
                    <div class="talles">
                        <p class="talle">Talles: </p>
                        <% producto.talles.forEach(function(talle){ %>
                            <button><%= talle %></button>
                        <% }); %>
                    </div>
    
                    <div class="cantidad" >
                        <label for="cantidad">Cantidad: </label>
                        <input class="input" type="number" id="cantidad" name="cantidad">
    
                    </div>
    
                    <button onclick="window.location.href='/productos/carrito';" class="boton-agregar-carrito"> Agregar al carrito</button>
    
                    <!-- <form class="envio" action="">
                        <label class="label-envio" for="envio">Envio: </label>
                        <input type="text" placeholder="ingrese su codigo postal" id="envio" name="envio">
                        <button class="calcular-boton">Calcular</button>
                    </form>
    
                    <div class="olvide-postal">
                        <a class="a-postal" href="#">Olvide mi codigo postal</a>
                    </div> -->

                    <div class="div-contenedor-button">
                        <button class="button-div">Editar producto</button>
                        <button class="button-div">Eliminar producto</button>
                    </div>

                </div>
    
               
            </form>
        </div>

        

    </main>

    <%- include('partials/footer')  %>     

