<%- include('../partials/metadata')  %> 
<%- include('../partials/header')  %> 

    
    <main>
        <form action="/usuarios/editar/:id?_method=PUT" method="POST">
            <!-- Se modifica el Method PUT para editar, desde el action usando el method-override instalado en dependencias para editar formularios -->
            <section class="form-register">
                <div class="logo1">
                    <a href="/">
                        <img src="\images\completo-XLR8-mediano.png">
                    </a>
                </div>
                <h4> EDITANDO MI USUARIO <%= userParaEditar.name %> </h4>
                <input class="controls" type="name" name="nombres" id="nombres" value="<%= userParaEditar.name %>">
                <input class="controls" type="apellido" name="apellido" id="apellido" value="<%= userParaEditar.apellido %>">
                <input class="controls" type="email" name="email" id="correo"  value="<%= userParaEditar.email %>">
                <input class="controls" type="text" name="telefono" id="telefono" value="<%= userParaEditar.telefono %>"">
                <input class="controls" type="password" name="password" id="password"  value="<%= userParaEditar.password %>">
                <input class="controls" type="password" name="password" id="password"  value="<%= userParaEditar.password %>">
                <fieldset>
                    <p>Fecha de nacimiento: <input type="date" name="date" value="<%= userParaEditar.date %>"></p>
                </fieldset>
                </br>
                <fieldset>
                    <legend>Seleccione su género:</legend>
                    <div>
                      <input type="radio" id="genero" name="genero" value="<%= userParaEditar.genero %>">
                      <label for="Masculino">Masculino</label>
                    </div>
                
                    <div>
                      <input type="radio" id="genero" name="genero" value="<%= userParaEditar.genero %>">
                      <label for="Femenino">Femenino</label>
                    </div>
                
                    <div>
                      <input type="radio" id="genero" name="genero" value="<%= userParaEditar.genero %>">
                      <label for="Sin genero">Sin género</label>
                    </div>
                </fieldset>
                <h5>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></h5>
                <button class="botons" type="submit"> EDITAR </button>
              
                
          </section> 
          </form>
    </main>

    <%- include('../partials/footer')  %>     